*,
*::before,
*::after {
  box-sizing: border-box;
}

/*=====================================================
Set custom properties with root
=====================================================*/

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --ff-third: "Raleway", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #f8f8f8;
  --clr-dark: #303030;
  --clr-dark-secondary: #191919;
  --clr-dark-very: #0f0f0f;
  --clr-accent: #16e0bd;
  --clr-purple: #8453e3;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1.15rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --bs-clean: 12px 8px 1px 1px rgb(225, 225, 225);
}

@media (min-width: 800px) and (max-width: 1601px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.75rem;
    --fs-body: 1rem;
  }
}

@media (min-width: 1601px) and (max-width: 1921px) {
  :root {
    --fs-h1: 5.25rem;
    --fs-h2: 4.5rem;
    --fs-h3: 2.2rem;
    --fs-body: 1.9rem;
  }
}

@media (min-width: 1921px) and (max-width: 2049px) {
  :root {
    --fs-h1: 5.75rem;
    --fs-h2: 5rem;
    --fs-h3: 2.5rem;
    --fs-body: 2rem;
  }
}

@media (min-width: 2049px) {
  :root {
    --fs-h1: 8.5rem;
    --fs-h2: 8rem;
    --fs-h3: 5.5rem;
    --fs-body: 3.95rem;
  }
}

@media (min-width: 250px) and (max-width: 425px) {
  :root {
    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 0.85rem;
    --fs-body: 0.8rem;
  }
}

/* =====================================================
General styles
======================================================*/

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark-secondary);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

.logo:hover {
  cursor: pointer;
}

textarea {
  resize: none;
  height: 150px;
}

@media (min-width: 1920px) and (max-width: 2049px) {
  textarea {
    resize: none;
    height: 250px;
  }
}

@media (min-width: 2049px) {
  textarea {
    resize: none;
    height: 350px;
  }
}

/*=====================================================
Pre Loader
======================================================*/

.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-light);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
  z-index: 2000;
}

.preload-text {
  font-family: "Helvetica Neue", sans-serif;
  color: var(--clr-dark-secondary);
}

.preload-finish {
  opacity: 0;
  pointer-events: none;
}

/*======================================================
Intro section with ANIME JS
======================================================*/

.intro {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.line-container {
  display: flex;
  max-width: 50%;
  padding: 2.5em 0 2.5em 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.line-container-text {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: flex-end;
  text-transform: uppercase;
  margin: 0 auto;
  align-items: center;
}

@media (min-width: 560px) and (max-width: 715px) {
  .line-container {
    margin: 0 auto;
    height: 100%;
    max-width: 400px;
    padding: 2em 0 2em 0;
  }

  .line-container-text {
    display: flex;
    width: 500px;
    justify-content: flex-end;
    text-transform: uppercase;
    margin: 0 auto;
    align-items: center;
  }
}

@media (min-width: 345px) and (max-width: 560px) {
  .line-container {
    margin: 0 auto;
    height: 100%;
    max-width: 300px;
    padding: 2em 0 2em 0;
  }
  .line-container-text {
    display: flex;
    width: 300px;
    justify-content: flex-end;
    text-transform: uppercase;
    margin: 0 auto;
    align-items: center;
  }
}

@media (max-width: 345px) {
  .line-container {
    margin: 0 auto;
    height: 100%;
    max-width: 200px;
    padding: 2em 0 2em 0;
  }

  .line-container-text {
    display: flex;
    width: 100px;
    justify-content: flex-end;
    text-transform: uppercase;
    margin: 0 auto;
    align-items: center;
  }
}

@media (min-width: 715px) and (max-width: 1279px) {
  .line-container {
    display: flex;
    max-width: 70%;
    padding: 1.75em 0 1.75em 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .intro {
    padding-bottom: 70px;
    padding-top: 70px;
  }
  .line-container-text {
    display: flex;
    max-width: 50%;
    height: min-content;
    justify-content: flex-end;
    text-transform: uppercase;
    margin: 0 auto;
    align-items: center;
  }
}

@media (min-width: 1920px) and (max-width: 2048px) {
  .intro {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .line-container-text {
    display: flex;
    width: 1000px;
    height: min-content;
    justify-content: flex-end;
    text-transform: uppercase;
    margin: 0 auto;
    align-items: center;
  }
}

@media (min-width: 2048px) and (max-width: 3839px) {
  .intro {
    padding-bottom: 35px;
    padding-top: 35px;
  }
  .line-container-text {
    display: flex;
    width: 50%;
    height: min-content;
    justify-content: flex-end;
    text-transform: uppercase;
    margin: 0 auto;
    align-items: center;
  }
}

@media (min-width: 3839px) {
  .intro {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .line-container-text {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    text-transform: uppercase;
    margin: 0 auto;
    align-items: center;
  }
}

/* ==================================
BLOB MOTION
===================================*/
.blob1 {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 75%;
  top: -10%;
  right: -50%;
  z-index: -1;
  opacity: 0.85;
}

.blob2 {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 15%;
  top: 5%;
  right: 5%;
  z-index: -1;
  opacity: 0.85;
}

/*=============END INTRO============*/

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/*================================
Custom Scrollbar
================================*/

body::-webkit-scrollbar {
  width: 0.25em;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-purple);
  border-radius: 0.1em;
}

/* ==============================
 # Buttons
===============================*/

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}
.btn {
  margin-left: 2em;
  margin-right: 2em;
  align-self: center;
  justify-self: center;
  max-width: 14em;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark-secondary);
  text-decoration: none;
  cursor: pointer;
  font-size: calc(var(--fs-body) - 2px);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

button {
  border: 0;
}

.btn:hover {
  transform: scale(1.1);
}

/* ==============================================
Just padding the download button
==============================================*/

.fa-download {
  margin-right: 1.25em;
}

/*=====================================================
Typography
=====================================================*/

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro {
  background: var(--clr-purple);
  width: max-content;
}

/*=================================================
Special style to only intro subtitle on hero page
=================================================*/

#intro-subtitle {
  background-color: var(--clr-purple);
  color: var(--clr-light);
  font-weight: var(--fw-reg);
  border-radius: 5px 20px 5px;
  font-family: var(--ff-third);
  font-size: calc(var(--fs-h3) - 5px);
}

@media (min-width: 345px) and (max-width: 768px) {
  #intro-subtitle {
    font-size: 1rem;
  }
}
@media (max-width: 345px) {
  #intro-subtitle {
    font-size: 0.5rem;
  }
}

.section__subtitle--about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding: 0.25em 1em;
  height: min-content;
  box-shadow: var(--bs-clean);
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.section__subtitle--intro {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  padding: 0.25em 1em;
  transform: translateY(3rem);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*====================================
Animation text for intro subtitle
====================================*/

@media (min-width: 1000px) {
  .section__subtitle--intro {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    padding: 0.25em 1em;
    position: relative;
    transform: translateY(3rem);
    animation: fadeInUp 1s ease forwards;
  }
  .section__subtitle--intro::after,
  .section__subtitle--intro::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .section__subtitle--intro::before {
    border-radius: 5px 20px 5px;
    background: var(--clr-purple);
    animation: typewriter 2s steps(13) forwards;
  }

  .section__subtitle--intro::after {
    background: white;
    width: 0.05em;
    height: 60%;
    margin: auto 0;
    animation: typewriter 2s steps(13) forwards, blink 1s steps(13) infinite;
  }

  @keyframes typewriter {
    to {
      left: 91%;
    }
  }

  @keyframes blink {
    to {
      background: transparent;
    }
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
/*=====================================================
Header
=====================================================*/

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: relative;
}

.logo {
  width: 10%;
  height: 2%;
}

@media (min-width: 700px) and (max-width: 1600px) {
  .logo {
    width: 138px;
    height: 28px;
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  .logo {
    width: 138px;
    height: 28px;
  }
}

@media (max-width: 320px) {
  .logo {
    width: 118px;
    height: 8px;
  }
}

.nav {
  position: fixed;
  background-color: var(--clr-dark-secondary);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  /* Move the navbar '#'% to the right */
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
}

.nav__link:hover {
  color: var(--clr-purple);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

/*==================================
HAMBURGER NAVBAR
==================================*/

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-purple);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

@media (min-width: 1920px) and (max-width: 2049px) {
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: var(--clr-purple);
    width: 1.5em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }
}

.nav-toggle:focus {
  outline: 2px solid rgb(132, 83, 227);
  outline-offset: 3px;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
} /* Sets the before item to the bottom of the hamburger by 6px */
.hamburger::after {
  bottom: 6px;
} /* Same vice versa */

@media (min-width: 2049px) {
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: var(--clr-purple);
    width: 2em;
    height: 6px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }
  .hamburger::before {
    top: 15px;
  } /* Sets the before item to the bottom of the hamburger by 6px */
  .hamburger::after {
    bottom: 15px;
  } /* Same vice versa */
}

/* ==============================================
My Skills Section
===============================================*/

.my-skills {
  background-color: var(--clr-dark-secondary);
  background-image: url(../images/cover_sheet.webp);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  color: var(--clr-light);
  text-align: center;
}

.section__title--skills {
  color: var(--clr-accent);
  position: relative;
}

.section__title--skills::after {
  content: "";
  display: block;
  width: 3em;
  height: 1.5px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.6;
}

.wrapper {
  margin: 0 auto;
  max-width: 1000px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  list-style: none;
  padding: 1em;
}

.skills-title {
  padding: 1em;
  font-family: var(--ff-primary);
  letter-spacing: 0.025rem;
  font-size: calc(var(--fs-body) + 2px);
}

.skills-title .fab,
.skills-title .fas {
  font-size: calc(var(--fs-h3) + 5px);
  transition: transform 200ms ease-in-out;
}

.skills-title .fab:hover,
.skills-title .fas:hover {
  transform: scale(1.3);
  color: orange;
}

@media (min-width: 240px) and (max-width: 320px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    list-style: none;
    padding: 1em;
  }
}

@media (min-width: 1920px) {
  .wrapper {
    max-width: 80%;
  }
  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    list-style: none;
    padding: 1em;
  }
}

/*============================
ABOUT ME SECTION
=============================*/

.about-me {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 1em;
}

.about-me__img {
  box-shadow: var(--bs);
  border-radius: 0.2em;
  transition: transform 250ms ease-in-out;
}

.about-me__body {
  font-size: calc(var(--fs-h3) - 4px);
}

@media (max-width: 599px) {
  .about-me__img {
    box-shadow: var(--bs);
    border-radius: 0.2em;
    width: 50%;
    margin: 2em auto 0;
    transition: transform 250ms ease-in-out;
  }
}

@media (min-width: 600px) and (max-width: 1367px) {
  .about-me {
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: -2em;
    width: calc(100%+4em);
    padding-left: 2em;
    padding-right: calc(200px + 4em);
    box-shadow: var(--bs-clean);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

@media (min-width: 1367px) and (max-width: 2049px) {
  .about-me {
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 25%;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: -2em;
    width: calc(100%+4em);
    padding-left: 2em;
    padding-right: calc(200px + 4em);
    box-shadow: var(--bs-clean);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

@media (min-width: 2049px) {
  .about-me {
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 25%;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }
  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: -2em;
    width: calc(100%+4em);
    padding-left: 2em;
    padding-right: calc(200px + 4em);
    box-shadow: var(--bs-clean);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* ==============================
Boat animations
===============================*/

.boat-wrapper {
  width: 100%;
  height: 80px;
  overflow: hidden;
}

.boat-wrapper svg {
  width: 100%;
  height: 100%;
}

.boat-wrapper #flag {
  animation: flagmove 250ms ease-in-out infinite;
  transform-origin: center;
}

.boat-wrapper #Frame_1 {
  animation: boatmove 15s ease-in-out infinite;
}

@keyframes flagmove {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(3deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes boatmove {
  0% {
    transform: translateX(-4500px);
  }

  100% {
    transform: translateX(4500px);
  }
}

@media (max-width: 500px) {
  .boat-wrapper {
    width: 100%;
    height: 50px;
    overflow: hidden;
  }
  @keyframes boatmove {
    0% {
      transform: translateX(-2500px);
    }

    100% {
      transform: translateX(2500px);
    }
  }
}

@media (min-width: 1920px) and (max-width: 2000px) {
  .boat-wrapper {
    width: 100%;
    height: 120px;
    overflow: hidden;
  }
  @keyframes boatmove {
    0% {
      transform: translateX(-5000px);
    }

    100% {
      transform: translateX(5000px);
    }
  }
}

@media (min-width: 2000px) and (max-width: 2049px) {
  .boat-wrapper {
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
  @keyframes boatmove {
    0% {
      transform: translateX(-6000px);
    }

    100% {
      transform: translateX(6000px);
    }
  }
}

@media (min-width: 2049px) {
  .boat-wrapper {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  @keyframes boatmove {
    0% {
      transform: translateX(-7600px);
    }

    100% {
      transform: translateX(7600px);
    }
  }
}

/* ==============================
My Work
================================*/

/*==============================
WAVE TOP BAR
==============================*/

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  box-shadow: 0px -1px 3px rgba(50, 50, 50, 0.75);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 55px;
}

.wave .shape-fill {
  fill: var(--clr-accent);
}

.wave .one {
  fill: var(--clr-accent);
  opacity: 0.75;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .wave svg {
    width: calc(100% + 1.3px);
    height: 27px;
  }
}

/** My Work Content **/

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  position: relative;
}

.portfolio {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.portfolio__item {
  background-color: black;
  width: fit-content;
  overflow: hidden;
  position: relative;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  color: var(--clr-light);
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.05;
}

.portfolio__text {
  grid-row: 2;
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
  padding: 0.1em 0 0.2em 0;
}

@media (min-width: 240px) and (max-width: 320px) {
  .portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 0.5fr));
  }
}

@media (min-width: 2049px) {
  .portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  .portfolio__item {
    background-color: black;
    width: 1000px;
    height: 1130px;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: var(--clr-light);
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
      opacity 250ms linear;
  }

  .portfolio__img {
    width: 1000px;
    height: 1000px;
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
      opacity 250ms linear;
  }
}

/*============================================================
FOOTER
============================================================*/

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
}

.footer__title--contact {
  color: var(--clr-light);
}

/* ===========================================
Line after underline in contact form
=============================================*/

.footer__title--contact::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0 auto;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  background-color: var(--clr-light);
  color: var(--clr-light);
  opacity: 0.5;
}

/*----------------------------------------------------------------
CONTACT FORM
---------------------------------------------------------------*/
.form-wrapper {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  margin-top: 1em;
  margin-bottom: 2em;
}

.wrap-items {
  width: 100%;
  border: 0;
  padding: 0.5em;
  margin: 1em;
  border-radius: 0.2em;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  letter-spacing: 0.15em;
  font-family: var(--ff-third);
  font-weight: var(--fw-bold);
}

/*=============================
Media Query for Form
=============================*/

@media (min-width: 400px) and (max-width: 700px) {
  .form-wrapper {
    width: 400px;
  }
  .wrap-items {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .form-wrapper {
    width: 280px;
  }
  .wrap-items {
    width: 200px;
  }
  textarea {
    height: 100px;
  }
}

.footer a {
  color: inherit;
  text-decoration: none;
  font-size: calc(var(--fs-body) + 5px);
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 3em 0 0;
  padding: 0;
  transform: 200ms;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
  border: 0;
}

.social-list__link:hover {
  border-bottom: solid 1px var(--clr-accent);
}

/*===================================================
Project individual items
===================================================*/

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

/*===================================================
Go to top button
===================================================*/

.fa-arrow-up {
  display: none;
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .fa-arrow-up {
    top: 90%;
    left: 92%;
    position: fixed;
    border-radius: 0.25em;
    padding: 0.6em;
    background-color: var(--clr-dark-secondary);
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    z-index: 1000;
    transition: transform 250ms ease-in-out;
  }
  .hero-wrapper {
    margin: 0 0 1em 1em;
  }
  .hero-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 0;
    grid-area: side;
    background-color: white;
    background: url(../images/image.webp) repeat;
  }
  .hero-item {
    margin: 0;
    font-size: calc(var(--fs-body) + 2px);
    font-weight: var(--fw-bold);
  }
  .hero-link .fab {
    color: black;
    font-size: larger;
    transition: 250ms ease-in-out;
    padding: 0.5em 1em 0.5em 1em;
  }

  .hero-link .fab:hover {
    background-color: var(--clr-light);
    color: black;
    box-shadow: var(--bs);
  }
}

@media (max-width: 600px) {
  .fa-arrow-up {
    top: 90%;
    left: 90%;
    position: fixed;
    border-radius: 0.2em;
    padding: 0.4em;
    background-color: var(--clr-dark-secondary);
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    z-index: 1000;
    transition: transform 250ms ease-in-out;
  }
  .hero-wrapper {
    display: none;
  }
}

.fa-arrow-up:hover {
  background-color: var(--clr-purple);
  transform: scale(1.05);
}

/*================================================================================
                    MY PROJECTS PAGE STYLING
================================================================================*/

.page-title {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h1);
  text-align: center;
}

.page-title::after {
  content: "";
  display: block;
  width: 3em;
  height: 1.5px;
  margin: 0.1em auto 0.5em;
  background: var(--clr-dark-secondary);
  opacity: 0.5;
}

.my-projects {
  margin: 0 2em 0 2em;
}

.my-projects-subtitle {
  padding: 0.3em 1em 0.3em 1.5em;
  margin: 2em 0 2em -1.5em;
  max-width: 50%;
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  box-shadow: var(--bs-clean);
  background-color: var(--clr-accent);
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
}

.my-projects-body {
  margin: 2em 0;
  max-width: 80%;
  font-size: calc(var(--fs-h3) - 5px);
  word-spacing: 0.2rem;
}

.my-projects-img {
  margin: 4em 0 4em 0;
}

.my-projects-img-item {
  margin: 0 auto;
  width: 60%;
  border: 0.1em solid var(--clr-dark-secondary);
  transition: transform 250ms ease-in-out;
  box-shadow: var(--bs);
}

.my-projects-img-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.my-projects-skills {
  margin: 2em 0;
  text-align: center;
  color: var(--clr-dark-secondary);
}
.my-projects-skills-title {
  margin: 2em 0 1em 0;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
}
.my-projects-skills .button-container .fas,
.my-projects-skills .button-container .fab {
  margin: 0 1.25em 0 -1em;
}

.my-projects-skills .button-container .btn {
  background: var(--clr-accent);
  color: black;
}

.my-projects-site-title::after {
  content: "";
  display: block;
  width: 3em;
  height: 2px;
  margin: 0.2em auto 0.5em;
  background: var(--clr-dark-secondary);
  opacity: 0.5;
}

.my-projects-skills-title::after {
  content: "";
  display: block;
  width: 3em;
  height: 2px;
  margin: 0.2em auto 0.5em;
  background: var(--clr-dark-secondary);
  opacity: 0.5;
}

@media (min-width: 250px) and (max-width: 425px) {
  .my-projects-subtitle {
    padding: 0.3em 1em 0.3em 1.5em;
    margin: 2em 0 2em -1.5em;
    max-width: 100%;
    font-family: var(--ff-secondary);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    box-shadow: var(--bs-clean);
    background-color: var(--clr-accent);
  }

  .my-projects-body {
    margin: 2em 0;
    max-width: 100%;
    font-size: calc(var(--fs-h3));
    word-spacing: 0.05rem;
  }
}

@media (min-width: 425px) and (max-width: 855px) {
  .my-projects-subtitle {
    padding: 0.3em 1em 0.3em 1.5em;
    margin: 2em 0 2em -1.5em;
    max-width: 100%;
    font-family: var(--ff-secondary);
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    box-shadow: var(--bs-clean);
    background-color: var(--clr-accent);
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
  }

  .my-projects-body {
    margin: 2em 0;
    max-width: 100%;
    font-size: calc(var(--fs-h3) - 2px);
    word-spacing: 0.1rem;
  }
}

@media (min-width: 250px) and (max-width: 425px) {
  .section__subtitle--about {
    margin-left: -1em;
    font-size: 16px;
    font-weight: bold;
  }
  .about-me__body {
    font-size: 16px;
  }
}

@media (min-width: 250px) and (max-width: 660px) {
  .button-container .fa-chalkboard-teacher,
  .button-container .fa-github {
    display: none;
  }
}
